@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: Poppins;
}

.header{
    width: 163px;
    height :41px;
    margin-top: 33px;
    margin-left: 20px;  
    
}

.location{
    width: 78px;
    height: 25.31px;
    margin-left: 318px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    margin-top: -25px;
    border-radius: 15px;
    text-align: center;
    background-color: #E8E8E8;
}

.sub_header{
    margin-left: 20px;
    margin-top: 18px;
    font-size: 22px;
    font-weight: 500;
}

.tips{
    margin-top: 12px;
    margin-left: 20px;
    font-size: 13px;
}

.call{
    width: 106px;
    height: 40px;
    margin-left: 58px;
    display: flex;
    justify-content: center;
    margin-top: 26px;
    border-radius: 15px;
    text-align: center;
    background-color: #FF4C58;
    color: white;
}

.message{
    width: 106px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-left: 244px;
    margin-top: -40px;
    border-radius: 15px;
    text-align: center;
    background-color: #4C79FF;
    color: white;
}

.safety_tip{
    width: 378px;
    height: 141px;
    margin-left: 18px;
    margin-top: 20px;
    background: #CFE3FC;
    border-radius: 30px;
    background-color: #CFE3FC;
}

.confirm_case{
    padding-left: 15px;
    padding-top: 13px;
    width: 179px;
    height: 141px;
    margin-left: 18px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #ffd1da;
    color: #FC1441;
}

.active_case{
    padding-left: 15px;
    padding-top: 13px;
    width: 179px;
    height: 141px;
    margin-left: 217px;
    margin-top: -140px;
    border-radius: 20px;
    color: #157FFB;
    background-color: #c2dcfa;
}

.recover_case{
    padding-left: 15px;
    padding-top: 13px;
    width: 179px;
    height: 141px;
    margin-left: 18px;
    margin-top: 20px;
    border-radius: 20px;
    color: #30A64A;
    background-color: #c7f5d1;
}

.decrease_case{
    padding-left: 15px;
    padding-top: 13px;
    width: 179px;
    height: 141px;
    margin-left: 217px;
    margin-top: -140px;
    border-radius: 20px;
    color: #6D757D;
    background-color: #e6e6e6;
}

.test{
    width: 378px;
    height: 135px;
    border-radius: 20px;
    margin-left: 18px;
    margin-top: 15px;
    color: #A74813;
    background-color: #f8cfb9;
}