.search-bar {
  width: 414px;
  height: 40px;
  border: none;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
.search-bar__control:hover,:focus{
  border: 1px solid #0275d8;
}
.search-bar__control{
  width: 350px;
  height: 40px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.search-bar__input{
  height: 40px;
  width: 300px;
  border: none;
  background-color: #f6f6f6;

}
.search-bar__label {
  height: 16px;
  width: 30px;
  background-image: url("./searchIcon.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
